@font-face {
    font-family: 'Braille';
    src: url(./src/fonts/astakhovbraillealphabet.otf)
}
@font-face {
    font-family: 'Century Gothic';
    src: url(./src/fonts/centurygothic.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url(./src/fonts/centurygothic_bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Calculator';
    src: url(./src/fonts/Calculator.ttf);
}
html {
    font-size: 16px;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}
body, ul {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    
}

/* ----------------header МЕНЮ--------------- */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
} 

h2 {
    font-size: 0.8rem;
}




.menu {
    background-color: bisque;
    height: 3rem;
    display: flex; 
    list-style-type: none;
    padding: 10px 30px;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    
    
    
}
.menu-item {

    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
    white-space: nowrap;

    box-sizing: border-box;
    padding: 10px;
    background-color: bisque;
    transition: background-color 1s ease-out;
    border-radius: 5px;
}

.menu-item:hover {
    background-color:rgb(254, 176, 80); 
}
menu

.calc {
    align-self: center;
}

.calc-img {
    display: grid;
    grid-template-columns: repeat(2, 1.2rem);
    grid-template-rows: repeat(2, 1.2rem);
    /* padding: 2px; */
    background-color: rgb(255, 138, 42);
    font-size: 20px;
    /* align-self: stretch; */
    /* justify-content:stretch; */
    border-radius: 30%;
    border: 2px solid black;
    position: relative;
}


/* ---------------------значок калькулятора */
.calc-sign {
     position: relative;


}
.calc-sign.equal {
    background-color:lightgrey;
    border-bottom-right-radius: 50%;
    border-top: 1px solid;
    border-left: 1px solid;
}

.calc-sign.plus {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.calc-sign.mul {
    border-right: 1px solid;
    border-top: 1px solid;
}

.calc-sign.minus {
    border-left: 1px solid;
    border-bottom: 1px solid; 
}

/* выравнивание */
.calc-sign > p {
    margin: 0;
    padding: 0;
    position: absolute;
}

.calc-sign.plus > p {
    left: 19%;
    top: -15%;
}

.calc-sign.minus > p {
    font-size: 30px;
    left: 22%;
    top: -65%;

}

.calc-sign.mul > p {
    font-size: 19px;;
    left: 21%;
    top: -17%;
}

.calc-sign.equal > p {
    font-size: 19px;
    font-weight: 800;
    left: 18%;
    top: -14%;
}




.logo {
    align-items: center;
    font-size:2.4rem;
    margin-right: 80px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 500ms ease-in-out;
}

.logo:hover {
    transform: perspective(500px) scale(1.5) rotateY(180deg);
}

/* бургер меню */
.burg-menu {
    display: none;
}

/* Падает МЕНЮщька */
.drop-menu {
    display: none;
}


/* ----------анимация бургер меню --------------- */



/* --------------------АДАПТИВНОСТЬ HEADER -----------------------------------*/



.menu-item.drop:hover {
    /* background-color: rgba(200, 0, 0, 0.5); */
    
}

/* меньше 800px */
@media (max-width: 800px) {
    .menu {
        justify-content:space-between;
    }
    
    .menu-item {
        display: none;
    }
    header + div {
        
    }
    .drop-menu  {
        height: 0;
        display: flex;
        flex-direction:column;
        overflow: hidden;
        width: 300px;
        background-color:initial;
        background-color: rgba(159, 0, 0, 0.197);
        right: 3rem;
        z-index: 999;
        backdrop-filter: blur(15px);
        border-radius: 15px;
        position: fixed;
        top: 68px; 
        transition: all 300ms linear;
        
    }
    
    .menu-item.drop {
        display: block;
        background-color: initial;
        z-index: 998;
        transition: all 800ms ease;
    }
    
    .drop:hover {
        /* transform: scale(1.3); */
        /* backdrop-filter: blur(100px); */
        background-color: rgba(159, 0, 0, 0.397);

        
    }
    .drop .calc-img {
        align-self: center;
    }
    
    .menu-item.drop.calc {
        display: flex;
        justify-content: center;
    }
    
    .drop-menu.close {
        height: 280px;
    }

    .burger {
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15%;
        margin: 0;
        padding: 0;
        transition: all 300ms ease-in-out;
        overflow: hidden;
        position: relative;
    }
    
    .burg-menu { 
        display: block;
        transition: transform 300ms ease-in-out;
    } 
    
    .burg-menu:hover {
        transform: scale(1.1);
        /* transform: rotate(45deg); */
    }
    /* ------------------------------------------------------- */
    .burger > div {
        width: 27px;
        height: 4px;
        border-radius: 2px;
        background-color: black;
        transition:all 150ms ease;
        
    }

    .burger > div:nth-child(4) {
        position: absolute;
        top: 13px;
    }
    .burg-menu.burg-active {
        /* transform: rotate(45deg); */
        transform:perspective(250px) scale(1.1) rotateZ(90deg);
    }
    
    
    .burg-active .burger > div:nth-child(1) {
        transform: translateX(10px);
        opacity: 0;
    }
    
    .burg-active .burger > div:nth-child(3) {
        transform: translateX(-10px);
        opacity: 0;
    }

    .burg-active .burger > div:nth-child(2) {
        transform: rotate(45deg);
    }
    .burg-active .burger > div:nth-child(4) {
        transform: rotate(-45deg);
    }


    .logo {
        display: block;
        margin: 0;
        border-radius: 0;
    }   
}


@media (max-width: 500px) {
    .drop-menu {
        left: 3rem;
        width: unset;
    }
}

@media (min-width: 1000px) {

    .logo {
        margin-right: 140px;
        /* margin-left: auto; */
    }
}

/* ---------------------это картинка --------------*/
main {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
}
main p {
    font-size: 1.5rem;
    font-style: normal;
    margin: 12px 0;
    /* text-transform: none; */
    text-align: justify;

}

/* p {
} */

.parallax {
    display: block;
    /* flex-direction: column; */
    overflow: hidden;
    justify-content:space-between;
    position: relative;
}

.start {
    display: flex;
    /* flex-grow: 1; */
    justify-content: center;
    height: 400px;
    background-image: url(./src/img/start.jpg);
    background-size: cover;
    margin: 0;
    padding: 100px 10px;
    overflow: hidden;
}

.btn-container {
    color: black;
    display: block;
    height:0;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;

}



.btn-flex {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 100px;
    align-content: center;
    justify-content: center;
    position: relative;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    background-color: aqua;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    border-radius: 50px;
    justify-content: center;
    font-size: 2.5rem;
    z-index: 100;
    position: absolute;
    transition:all 300ms ;
    /* overflow: hidden; */
}

.btn:hover {
    transform: scale(1.05);
}    
    


.btn-text {
    position:relative;
}

.btn-img {
    position: relative;
    width: 80px;
    height: 80px;
    margin:0;
    padding: 0;
}

.btn-ring {
    box-sizing: border-box;
    border: 8px solid #2ea6d9;
    width: inherit;
    height: inherit;
    border-radius: 50px;
    position: absolute;
    z-index: 0;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;

}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scaleX(0.9) scaleY(0.95);
    }
    60% {
        opacity: 0.0;
        transform: scaleX(1.2) scaleY(1.4);
    }
    100% {
        opacity: 0.0;
        transform: scaleX(1.2) scaleY(1.4);

    }
}





/* .hire {
    display: inline-block;
    box-sizing: border-box;
    width: 431px;
    height: 80px;
    font-size: 2.5rem;
    border: none;
    border-radius:3rem;
    position: absolute;
    top: 53%;
    left: 40%;
    background-color:#fd7df7;
    cursor: pointer;
    transition: all 300ms ease;
} */

/* .hire > div {
    width: 431px;
    height: 80px;
    background-color: aqua;
    position:absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: scale(1.1)

} */

/* .hire:hover {
    background-color: #fc6ef5;
    color: white;
    transform: scale(1.1)
} */




h1 {
    font-size: 3.7rem;
    position: relative; 
    margin-top: 30px;
    transform-origin: 0 0;
    /* transform:perspective(500px) rotateY(70deg) */
}

h1 span {
    white-space: nowrap;
}



h1 > em {
    background-color: black;
    text-transform: uppercase;
    color: white;
    padding: 5px 15px;
    font-style: normal;
}

@media (max-width: 1000px) {
    .start {
        margin: 0;
    }

    h1 {
        margin-left: 3rem;
    }

    h1 em {
        white-space: initial;
        margin-right: 100px;
        /* margin-left: 13%; */
    }
    h1 > span {
        position: relative;
        left: 13%;
        margin: 0;
    }
}

@media (max-width: 700px) {
    .btn-container {
        left: 37%;
    }

    h1 span {
        font-size: 70%;
    }

    h1 em {
        margin: 0;
    }

    h1 {
        margin: 0
    }
}

/* -------------------секция обо мне------------------ */

.about-question {
    font-size: 2rem;
    padding: 30px;
}

.page {
    z-index: 100;
}
.section.about {
    /* display: flex;
    justify-content: center; */
    margin: 0;
    /* margin-bottom: 30px; */
    border-radius: 40px;
    background-color: rgb(105, 227, 221);
    padding: 15px 30px;
    /* padding-bottom: 60px; */


}
.section-header {
    font-size: 3rem;
    text-align: left;
    padding: 15px 0 30px;
    margin-left: 15px;
    border-bottom: 2px solid;
    /* color: white;
    background-color: black; */
}


.section-content{
    margin: 30px 0 30px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    /* grid-template-rows: 600px; */
    gap: 20px;
}

.section-content-text-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    justify-content: start;
    padding: 0;
}

.text-box {
    box-sizing: border-box;
    font-size: 2rem;
    padding: 15px;
    gap: 15px;
    background-color: bisque;
    border-radius: 20px;
    justify-self: stretch;
    margin: 16px;
}

.page h4 {
    font-size: 120%;
    margin: 10px 16px 8px;
}

.page p {
    margin: 16px;
    text-indent: 30px;
    text-align:left;
}

#my_avatar {
    box-sizing: border-box;
    width:400px;
    height: 500px;
    object-fit: cover;
    
    margin: 16px;
    box-sizing: border-box;
    border-radius: 40px;
    justify-self: center;
    border: 5px solid white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3)
}
/* адаптивность */



/* -----------------------это разделы дальше пошли-------------------- */
.spage {
    /* margin-top: -80px; */
    padding: 10px 10px 50px;

    position: relative;
    border-radius: 40px;
    margin: 30px 0;
    font-size: 1.5rem;
}
/* .section-tail {
    background-color: #fc6ef5;
    height:40px;
    width: 100%;
    border-radius: 0 0 40px 40px;
    
} */


/* --------------- СЕКЦИЯ Цели и ЗАДАЧИ--------------- */

.goals {
    
    background-color: aquamarine;
    z-index: 200;
}

.goals-list {
    list-style-type:decimal-leading-zero;
    font-size: 2rem;
    background-color: inherit;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 50px;
}



.goals-list li::marker {
    margin-left: 10px;
    font-size: 2rem;
}

.goals h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-right:15px;
}

.goals p {
    padding-right:15px;
}

/* .goals p {
    font-size: 1.5rem;
    font-style: normal;
    margin: 12px 0;
} */

.goals-list.to-do {
    background-color: inherit;
    list-style-type:none;
}

.goals-list.to-do li {
    position:relative;
}


.goals-list.to-do li::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 255, 255);
    position:absolute;
    top: 7px;
    left: -52px;
}


/* --------------СЕКЦИЯ ЯЗЫКИ --------------*/

.gayming {
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    z-index: 300;
}

.lang {
    margin: 20px;

}

.lang-item {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 10px;
}

.lang-description h4{
    margin-bottom: 10px;
}

.lang-logo {
    width: 50px;
    /* height: 50px; */
    object-fit: cover;
    object-position: top;
    padding-right: 30px;
    align-self: flex-start;
    margin-top: 31px;
}

.gayming p {
    padding-right: 15px;
}



/*----------------- СЕКЦИЯ CRM CMS---------------- */

.knowledge {
    
    background-color: rgb(187, 99, 221);
    z-index: 400;


}
.knowledge span {
    color:  rgb(187, 99, 221);
}

.knowledge h4 {
    padding: 0 15px;
}

.knowledge p {
    padding: 0 15px;
}






/* -------------------это уже  колкулятор-------------------- */
.calc-body {
    width: 400px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    background-color:rgb(113, 208, 214);
    border-radius: 40px;
    border: 2px solid;
    padding: 30px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.screen {

    width: 90%;
    height: 30%;
    font-family: 'Calculator', 'Century Gothic', Arial, Helvetica, sans-serif;
    padding:1px;
    margin: 10px 0px;
    box-sizing: border-box;
    background-color: rgb(120, 133, 145);
    border-radius: 10px;
    border: 4px solid;
    padding: 3px;
    /* overflow: hidden; */
    outline: 13px solid rgba(0, 0, 0, 0.486);
    position: relative;
}

.user-input {
    color:rgba(0, 0, 0, 0.5);
    /* width: 90%; */
    font-size: 2.5rem;
    font-style: italic;
    /* font-weight: bold; */
    height: 50px;
    /* background-color: antiquewhite; */
    padding: 1px;
    margin-bottom: 0.8rem;
    text-align: right;
}

.result {
    font-size: 5rem;
    text-align: right;
    height: 55px;
    padding: 3px;
    position: relative;
    bottom: 23px;
    /* background-color: aquamarine; */
}


.calculator {
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    /* font-size: 0.8rem; */
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px); 
    /* background-color: rgb(107, 214, 250);
    border: 1px solid darkblue; */
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    gap: 11px 15px;
    margin-bottom:10px;
}

.grid-elem {
    font-family: 'Century Gothic';
    font-size: 2.7rem;
    /* font-style:italic; */
    font-weight: normal;
    border: 1px solid rgb(47, 33, 20);
    border-radius: 37px;
    padding: 8px;
    /* margin: 2px; */
    background-color: rgb(236, 240, 241);
    cursor:pointer;
}
.grid-elem:active {
    transform:scale(0.96);
    background-color: rgb(210, 220, 226);
    /* transform: translateY(2px); */
}

.grid-elem:nth-child(18) {
    /* display: none; */
}


.zero {
    grid-row: 5/6;
    grid-column: 1/3;
}
.percent {
    visibility: hidden;
}

.plusminus {
    visibility: hidden;
}

.clear {
    /* font-weight: bolder; */
}

.minus-btn {
    font-size: 2.7rem;
}


/* ---------------------main адаптация------------------ */
@media (max-width: 1200px) {
    main {
        width: 100%;
        margin: inherit 0 inherit 0;

    }
    
    .spage,
    .section.about,
    .section-content {
        border-radius: 20px;
        padding: 0;
    }


}


@media (max-width: 900px) {
    .section-content{
        margin: 10px 0 10px;
        display: grid;
        /* grid-template-rows: 30px, 30px; */
        grid-template-columns: 1fr;
        gap: 0px;
    }    

    .spage,
    .section.about,
    .section-content {
        border-radius: 0px;
    }

    .gayming {
        border-right: 0;
        border-left: 0;
    }

    .lang-logo {
        width: 40px;
    }


}

/* ----------------------------footer------------------------------ */

footer {
    display: flex;
    flex-wrap:wrap;
    /* gap: 50px; */
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 173, 173);
    border-radius: 40px 40px 0 0;
    margin-top: 10px;
    padding: 10px 50px 0px;
    overflow: hidden;
    font-size: 2rem;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


footer  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
    position: relative;
    bottom: -4px;
}

footer p{
    margin: 5px;
    display: inline;
}

footer button {
    background-color: initial;
    border: none;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    /* margin-left: 40%; */
    justify-self: end;
    cursor:pointer;
}

.braille {
    font-family: 'Braille', 'Century Gothic', Arial;
}

